<div id="image-modal" class="modal">
  <span class="close" id="modal-close">&times;</span>
  <div class="modal-carousel">
    <button class="arrow left modal-arrow" id="modal-left">&#8249;</button>
    <div class="carousel-container-modal">
      <div class="carousel-modal" id="modal-carousel"></div>
    </div>
    <button class="arrow right modal-arrow" id="modal-right">&#8250;</button>
  </div>
  <div class="image-info">
    <p class="price" id="price"></p>
    <p class="reference" id="reference"></p>
  </div>
</div>
<a href="https://wa.me/573146497907?text=Hola%20quiero%20más%20información" target="_blank" class="whatsapp-logo">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Logo" />
</a>